<div class="header" style="background-color: #dd5857">
  <a href="https://elektrofahrni.ch/">
    <img src="../assets/banner.png" />
  </a>
</div>
<div class="wrapper montserrat">
  <h2 style="color: #656565">WIR FREUEN UNS AUF DEINE BEWERBUNG!</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Vorname</mat-label>
      <input matInput formControlName="vorname" required />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nachname</mat-label>
      <input matInput formControlName="nachname" required />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Geburtsdatum</mat-label>
      <input
        matInput
        formControlName="geburtsdatum"
        [matDatepicker]="picker"
        placeholder="TT.MM.JJJJ"
        (dateChange)="onDateChange($event)"
        required
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="form.get('geburtsdatum')?.hasError('required')">
        Geburtsdatum ist erforderlich
      </mat-error>
      <mat-error *ngIf="form.get('geburtsdatum')?.hasError('dateFormat')">
        Geburtsdatum muss im Format TT.MM.JJJJ sein
      </mat-error>
      <mat-error *ngIf="form.get('geburtsdatum')?.hasError('invalidDate')">
        Geburtsdatum ist ungültig
      </mat-error>
      <mat-error *ngIf="form.get('geburtsdatum')?.hasError('pastDate')">
        Geburtsdatum muss in der Vergangenheit liegen
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" required />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Telefon</mat-label>
      <input
        matInput
        formControlName="telefon"
        type="text"
        placeholder="079 123 45 56"
        required
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Adresse</mat-label>
      <input matInput formControlName="adresse" required />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Postleitzahl</mat-label>
      <input matInput formControlName="plz" type="number" required />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ort</mat-label>
      <input matInput formControlName="ort" required />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ausbildung</mat-label>
      <select matNativeControl formControlName="ausbildung" required>
        <option value="" disabled selected></option>
        <option value="Elektroinstallateur EFZ">Elektroinstallateur EFZ</option>
        <option value="Montageelektriker EFZ">Montageelektriker EFZ</option>
        <option value="Automatiker EFZ">Automatiker EFZ</option>
        <option value="Sonstige">Sonstige</option>
      </select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nachricht</mat-label>
      <textarea
        matInput
        formControlName="nachricht"
        placeholder="Nachricht"
        rows="5"
      ></textarea>
    </mat-form-field>

    <button type="submit" [disabled]="form.invalid">Anfrage absenden</button>
  </form>
</div>
