.header {
  img {
    width: 40vw;
  }
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700; /* Bold */
}

p form {
  font-family: 'Montserrat', sans-serif o !important;
  font-weight: 400 !important; /* Regular */
}

.wrapper {
  padding: 16px;
  max-width: 100%;

  form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    mat-form-field {
      width: 100%;
    }

    button {
      align-self: center;
      width: 100%;
      height: 70px;
      padding: 20px;
      font-size: 20px !important;
      background-color: #dd5857; // Adjust color as needed
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-family: 'Montserrat', sans-serif;

      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }
  }
}

::ng-deep .mat-form-field .mat-input-element {
  font-family: 'Montserrat', sans-serif;
}

// Responsive design for mobile devices
@media (max-width: 600px) {
  .header {
    img {
      width: 100vw;
    }
  }
  .wrapper {
    padding: 8px;

    form {
      gap: 12px;

      button {
        padding: 10px;
        font-size: 14px;
      }
    }
  }
}
